#myInput {
    background-image: url('../img/searchicon.png');
    background-position: 10px 12px;
    background-repeat: no-repeat;
    background-color: #CDDDF0;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #000000;
    margin-bottom: 12px;
}

#myTable {
    border-collapse: collapse;
    width: 100%;
    font-size: 18px;
}

#myTable th, #myTable td {
    text-align: left;
    padding: 12px;
}

#myTable tr {
    border: 1px solid #000000;
    background-color: #CDDDF0;
}

#myTable tr.header, #myTable tr:hover {
    background-color: #b6c5d6;
}